@import "tailwindcss";

@source "../index.html";
@source "./**/*.{js,jsx}";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #9333ea, #3b82f6, #ec4899);
}
